:root {
  --background: 180 0% 95%;
  --foreground: 180 0% 0%;
  --card: 180 0% 90%;
  --card-foreground: 180 0% 10%;
  --popover: 180 0% 95%;
  --popover-foreground: 180 95% 0%;
  --primary: 180 100% 25.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 142 10% 85%;
  --muted-foreground: 180 0% 35%;
  --accent: 142 10% 80%;
  --accent-foreground: 180 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 180 0% 90%;
  --border: 180 20% 50%;
  --input: 180 20% 18%;
  --ring: 180 100% 25.1%;
  --radius: 0.5rem;
}
.dark {
  --background: 180 10% 5%;
  --foreground: 180 0% 90%;
  --card: 180 0% 0%;
  --card-foreground: 180 0% 90%;
  --popover: 180 10% 5%;
  --popover-foreground: 180 0% 90%;
  --primary: 180 100% 25.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 142 10% 15%;
  --muted-foreground: 180 0% 60%;
  --accent: 142 10% 15%;
  --accent-foreground: 180 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 180 0% 90%;
  --border: 180 20% 18%;
  --input: 180 20% 18%;
  --ring: 180 100% 25.1%;
  --radius: 0.5rem;
}
